.animate-card-press {
  animation: cardPress 0.3s ease-in-out;
}

@keyframes cardPress {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.983;
  }
  100% {
    scale: 1;
  }
}

.animate-add-comment {
  opacity: 0;
  animation: addComment 0.2s ease-in-out forwards;
}

@keyframes addComment {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-delete-comment {
  opacity: 0;
  animation: deleteComment 0.2s ease-in-out forwards;
}

@keyframes deleteComment {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  -moz-animation: fadeIn ease 1.3ss;
  -o-animation: fadeIn ease 0.3s;
  -ms-animation: fadeIn ease 0.3s;
}

.fade-out {
  animation: fadeOut ease 0.3s;
  -webkit-animation: fadeOut ease 0.3s;
  -moz-animation: fadeOut ease 0.3s;
  -o-animation: fadeOut ease 0.3s;
  -ms-animation: fadeOut ease 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
