.animate-card-press {
  animation: cardPress 0.3s ease-in-out;
}

@keyframes cardPress {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-add-comment {
  opacity: 0;
  animation: addComment 0.25s ease-in-out forwards;
}

@keyframes addComment {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-delete-comment {
  opacity: 0;
  animation: deleteComment 0.25s ease-in-out forwards;
}

@keyframes deleteComment {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
