.comments {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.comment {
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 14px;
  min-height: 30px;
  text-align: left;
  padding: 4px 8px;

  &__new {
    border-radius: 8px;
    font-size: 14px;
    padding: 4px 7px;
    border: .2em solid grey;
  }

  &__new:focus {
    outline: none;
    border: .2em solid #0d6efd;
  }
}
