.dropdown-container {
  padding: 5px 0;
}

.dropdown {
  width: 100%;
}

.dropdown-header {
  color: white;
}

.dropdown-header,
.dropdown-header-notify {
  font-size: 15px;
}

.dropdown-header-notify {
  color: rgb(255, 51, 0);
}
