.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header {
  transition: .2s ease-in;
  &__button {
    width: 120px;
  }

  &__greeting {
    display: flex;
    font-size: 15px;
    align-items: center;
  }
}