.tasklist {
  width: 33%;

  &__container {
    overflow-y: auto;
    height: calc(100vh - 156px);
  }

  &__header {
    border: 1px solid grey;
    border-radius: 5px;
  }

  &__description {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }

  &__card,
  &__card-selected,
  &__card-selected-grey {
    border-radius: 5px;
    padding: 7px 14px 7px 14px;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    transition: 0.25s;

    &:hover {
      background: #484c54;
      transition: ease-in-out 0.22s;
    }
  }

  &__card {
    scale: 1;
    background-color: #383c44;
    color: #ddd;
  }

  &__card-selected,
  &__card-selected-grey {
    scale: 0.97;
    color: white;
  }

  &__card-selected {
    background-color: #53575d;
  }

  &__card-selected-grey {
    background-color: #383c44;
  }
}
