.taskpage-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px 0;
  width: 100%;
}

.spinner-div {
  padding-left: calc(50% - 48px);
}

.tasks-footer {
  position: fixed;
  bottom: 10px;
  width: calc(100vw - 33% - 20px);
}

.tasks-header {
  border: 1px solid #5a5d63;
  border-radius: 5px;
  padding-bottom: 3px;
}