.task {
  left: calc(33% + 20px);
  width: calc(100vw - 33% - 20px);

  &__container {
    overflow-y: auto;
    width: calc(100% - 1px);
    height: calc(100vh - 167px);
  }

  &__split-left,
  &__split-right {
    width: 50%;
  }

  &__split-right {
    width: 40%;
  }
}

.info-card {
  background-color: #383c44;
  border-radius: 5px;
  font-size: 15px;
  text-align: left;
  padding: 5px 10px;
}
