.task {
  display: flex;
  position: fixed;
  left: calc(33% + 20px);
  flex-direction: column;
  gap: 10px;
  width: calc(100vw - 33% - 30px);

  &__header {
    border: 1px solid grey;
    border-radius: 8px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow-y: auto;
  }

  &__dropdowns {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__split-left,
  &__split {
    display: flex;
    gap: 5px;
    width: 50%;
    flex-direction: column;
  }

  &__split-left {
    
  width: calc((100vw - 50% - 30px) / 2);
  }

  &__non-stretched {
    height: auto;
  }

  &__stretched {
    height: calc(100vh - 210px);
    padding-right: 10px;
  }

  &__delete {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
