.taskpage-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 0;
  width: 100%;
}

.spinner-div {
  padding-left: calc(50% - 48px);
}

.tasks {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    height: calc(100vh - 167px);
  }

  &__description {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
  }
}

.tasks-footer {
  display: flex;
  gap: 10px;
  flex-direction: row;
  position: fixed;
  bottom: 10px;
  width: calc(100vw - 33% - 25px);
}