.tasknew {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 33%;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    width: calc(100% - 1px);
    height: calc(100vh - 167px);
  }

  &__description {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }

  &__dropdowns {
    display: flex;
    gap: 5px;
    flex-direction: row;
    // padding-right: 1px;

    &__select {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }

  &__dates {
    display: flex;
    gap: 5px;
    flex-direction: row;
    margin-bottom: 10px;
  }
}
