.task {
  left: calc(33% + 20px);
  width: calc(100vw - 33% - 20px);

  &__container {
    overflow-y: auto;
  }

  &__split {
    width: 50%;
  }
}

.info-card {
  background-color: #383c44;
  border-radius: 5px;
  font-size: 15px;
  text-align: left;
  padding: 5px 10px;
}
